/* Structure */
table {
    width: 100%;
  }
  .list-container{
      padding: 20px;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .initial-spinner{

    position: absolute;
    left: 50%;
    margin-left: -4em;
    top: 40%;
  }
.toolbar-title{

}
  .toolbar-icon{
    margin:0px 20px;
  }