<mat-toolbar>
  <h1  >Users</h1>
  <button mat-icon-button class="toolbar-icon" [routerLink]='["/users/add"]'>
    <mat-icon aria-label="Add">add</mat-icon>
  </button>
</mat-toolbar>

<mat-spinner *ngIf="isLoading" class="initial-spinner"></mat-spinner>

<div class="list-container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef> User Id </th>
      <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="nit">
      <th mat-header-cell *matHeaderCellDef> Nit </th>
      <td mat-cell *matCellDef="let element"> {{element.nit}} </td>
    </ng-container>
    <ng-container matColumnDef="birthDay">
      <th mat-header-cell *matHeaderCellDef> BirthDay </th>
      <td mat-cell *matCellDef="let element"> {{element.birthDay}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>


    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-icon-button (click)="delete(element)">
            <mat-icon >delete</mat-icon>
          </button>  
        </td>
      </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>