<mat-nav-list>
    <h3 mat-subheader>Management</h3>
    <mat-list-item [routerLink]='["/home"]'>
        <mat-icon mat-list-icon>home</mat-icon>
        <h2 mat-line>Home</h2>
    </mat-list-item> 
    <mat-list-item [routerLink]='["/users"]'>
        <mat-icon mat-list-icon>supervised_user_circle</mat-icon>
        <h2 mat-line>Users</h2>
    </mat-list-item> 
    <mat-list-item [routerLink]='["/padre"]'>
        <mat-icon mat-list-icon>accessibility</mat-icon>
        <h2 mat-line>Padre/Hijo</h2>
    </mat-list-item> 
    <mat-list-item [routerLink]='["/rxjs"]'>
        <mat-icon mat-list-icon>find_replace</mat-icon>
        <h2 mat-line>RXJS</h2>
    </mat-list-item> 
</mat-nav-list>